.dashboard-row{
    display: flex;
    flex-direction: row;
    background-color:rgb(85, 47, 14);
    width:100%;
    height:100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -0.3cm;
    align-items: center;
}
.img-logo
{
    padding-top: 10px;
    height:75px;
    align-items: center;
}
.search-jobs{
    font-size: 20px;
    width:150px;
    height:40px;
}
.search-location
{
    font-size: 20px;
    width:150px;
    height:40px;
}

.right-section{
    padding-right:600px;

}
.dashboard-column{
    display: flex;
    flex-direction: column;
    background-color:peachpuff;
    width: 150px;
    height: 750px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: -7px;
    margin-top: 60px;
}
.search-bar{
    color:gray;
    height: 30px;
    width:90px;
    border-color: skyblue;
   background-color: white;
}
.search-bar::placeholder{
    color:rgb(169, 145, 145);
}
.top-section{
    width: 50px;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;    
}
.last{
  padding: 100px;
}
.img-search
{
    width:50px;
    height:50px;
    margin-top: 0px;
    cursor: pointer;
}
.login,.signup
{
    font-size: 30px;
}
h{
    width:50px;
    height:50px;
    border: 40px;
    line-height: 50px;
}
.middle-section{
    width: 50px;
    font-size:25px;
    display: flex;
    flex-direction: column;
}
.bottom-section{
    width: 50px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
}