/* Assuming your CSS file is named AboutUs.css */
/* You can adjust styles based on your design preferences */

.body {
    font-family: 'Arial', sans-serif;
    background-color:#1ddb3a;
    
    color: #ffffff;
    margin-top: -.1cm;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    background-image: url("./src/assets/studey.jpg");
    

}

  .abt{
    width: 700px;
    height: 100vh;
    margin-top: 1cm;
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .h1 {
    color: #fffffe;
    text-align: center;
  }
  
  p {
    line-height: 1.6;
    margin-bottom: 15px;
    font-size: 20px;
  }
  
  /* Add additional styling as needed */