/* Engineering.css */
.whole-img{
  background-image: linear-gradient(to top,rgba(32,32,32,0.5)50%,rgba(38,37,37,.5)50%),url("./assets/university.jpg");
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.headingg{
  text-align: center;
  text-decoration:solid;
  text-shadow:  2px 2px 5px white;
  padding: 20px 20px 20px 20px;
  color: blue;
}
.courses-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.course-boxs {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid black;
  box-sizing: border-box;
  background-color:whitesmoke;
  box-shadow: 2px 5px 10px rgb(231, 227, 227);
  border-radius: 15px 50px;
  text-align: center;
}

.course-boxs h3 {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-weight: bolder;
  color: blue;
}

.course-boxs p {
  text-align: center;
  margin: 0;
  color: black;
  font-weight: bold;
}

.course-boxs button {
  background-color: darkcyan;
  color: #fff;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  justify-content: center;
}

.course-boxs button:hover {
  background-color: blue;
}

.course-boxs span {
  color: #ff0000;
}